@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-image: linear-gradient(to left, #592C28,#8C3D35);
}
 
p{
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(32, 17, 16, 0.767) ;
}

h1{
    color: #A68C6D;
    text-align: center;
    text-shadow: 1px 1px 2px #a68c6d7c;

}

h2{
    color: #D97B59;
    

}
